<tr>
  <td>
    <strong>{{name}} {{#if required}}<br/><span class="required"></span>{{/if}}</strong>
  </td>

  <td>
    {{default}}
  </td>

  <td>
    <em>{{#crossLink type}}{{/crossLink}}</em>
  </td>

  <td>
  {{{description}}}
  </td>
</tr>
