body {
  background-color: #0D1F30;
  font-family: Helvetica;
  color: #3B6670;
  text-align: center;
}

.canvas-container {
  border: 1px solid #8BADA3;
  background-color: white;
}

.editor-controls-panel {
  border: 1px solid #0D1F30;
  background-color: #CCC1A3;
  width: 602px;
  margin-top: 10px;
  box-sizing: border-box;
  padding: 0 0 10px 10px;
  overflow: auto;
}

.subdued {
  color: #8BADA3;  
}

.editor-controls-panel .subdued {
  color: #3B6670;
}
.embric-editor {
  border: 1px solid #8BADA3;
  background-color: #3B6670;
  width: 602px;
  box-sizing: content-box;
  padding: 0 20px 20px 20px;
  margin: auto;
}

.embric-control {
  border: 1px solid #0D1F30;
  color: #3B6670;
  background-color: white;
  box-sizing: content-box;
  overflow: auto;
}
.embric-control textarea {
  color: #3B6670;  
}

label.embric-control-main-label {
  display: block;
  background-color: #8BADA3;
  font-size: 12px;
  font-weight: bold;
  color: white;
  padding: 1px 5px;
  margin-bottom: 2px;
}

label.embric-control-label {
  font-size: 12px;
  font-weight: bold;
  color: #DB6C0F;
}



.embric-control-input {
  padding: 1px 2px;
  overflow: auto;
}

.embric-control-control {
  padding: 1px 2px;
  text-align: right;
}

.control-column {
  width:31%;
  margin-right: 10px;
  float: left;
}

.embric-control-json-loader textarea {
  display: block;
  max-width: 96%;
  width: 96%;
  height: 120px;
}

.embric-color-input {
  width: 50px;
  float:right;
}

.right {
  text-align: right;
}

.right label {
  margin-right: 10px;
}